@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&display=swap');


@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}
.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}
.font-playfair {
  font-family: 'Playfair Display', serif;
}